body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: linear-gradient(to bottom, #8B0000, #000000); 
  color: #ffffff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


h1 {
  margin-bottom: 40px;
  font-size: 3em;
  text-shadow: 2px 2px 5px #000000;
}


#knopjes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


#knopjes a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 25px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
}

#knopjes a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  border-color: #ccc;
}